[submodule "Frameworks/IDZPrecompiledOgg"]
	path = Frameworks/IDZPrecompiledOgg
	url = https://github.com/iosdevzone/IDZPrecompiledOgg
[submodule "Frameworks/IDZPrecompiledVorbis"]
	path = Frameworks/IDZPrecompiledVorbis
	url = https://github.com/iosdevzone/IDZPrecompiledVorbis
[submodule "IDZPrecompiledFLAC"]
	path = IDZPrecompiledFLAC
	url = git@github.com:iosdevzone/IDZPrecompiledFLAC.git
